body{
    background: linear-gradient(90deg, rgba(61,162,182,1) 20%, rgba(110,176,221,1) 51%, rgba(28,90,127,1) 85%);
}
#card{
    background-color: #30989C;
    border-radius: 15px;

}

#title{
    font-family: 'Needlework Good Regular';
    font-weight: 600;
    font-size: 3rem;
    color: #6d325b;
}

#card{
    margin: 2px;
    padding: 2px;
}
.list{
    overflow-y: scroll;
    height: 500px;
}
.list::-webkit-scrollbar {
    display: none;
  }

.footer{
bottom: 0;
margin-top: 20px;
}
@font-face {
    font-family: 'Needlework Good Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Needlework Good Regular'), url('Needlework Good.woff') format('woff');
    }